@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --accent: #3b1316;
    --light-accent: #d7cfcf;
    --secondary: #d4af6f;
    --light-secondary: #ebdabd;
}

.bg-accent {
    background-color: var(--accent);
}

.bg-light-accent {
    background-color: var(--light-accent);
}

.bg-secondary {
    background-color: var(--secondary);
}

.bg-light-secondary {
    background-color: var(--light-secondary);
}

.border-accent {
    border-color: var(--accent);
}

.text-accent {
    color: var(--accent);
}

.text-secondary {
    color: var(--secondary);
}

.hover\:text-secondary:hover {
    color: var(--secondary);
}

.ring-accent {
    --tw-ring-color: var(--accent);
}

.ring-light-secondary {
    --tw-ring-color: var(--light-secondary);
}

.link {
    @apply transition duration-100;
}

.link:hover {
    @apply text-secondary;
}

.centered-page {
    @apply grid gap-4 bg-light-accent justify-center items-center min-h-screen;
}

.centered-form {
    @apply bg-white border-2 grid gap-4 justify-center rounded-xl shadow-lg;
}

.input {
    @apply transition duration-200 border-2 rounded border-gray-200 p-1;
}

.input:focus {
    @apply transform scale-105 ring ring-accent;
}

.btn {
    @apply border-2 border-gray-200 text-center rounded-md transition duration-100;
}

.btn:hover {
    @apply shadow-lg;
}

.btn:focus {
    @apply ring;
}

.btn.btn-accent {
    @apply text-white p-2 bg-accent;
}

.btn.btn-accent:hover {
    @apply bg-secondary;
}

.btn.btn-accent:focus {
    @apply ring-light-secondary;
}

.btn.btn-red {
    @apply bg-red-700 text-white;
}

.btn.btn-red:hover {
    @apply bg-red-600;
}

.btn.btn-red:focus {
    @apply ring-red-400;
}

.line {
    @apply h-1 bg-accent rounded-full inline-block w-full;
}

.card {
    @apply bg-white border-2 rounded-xl transition duration-200;
}

.card:hover {
    @apply shadow-lg;
}

#textarea + .ck h2 {
    @apply text-3xl;
}

#textarea + .ck h3 {
    @apply text-2xl;
}

#textarea + .ck h4 {
    @apply text-xl;
}

#textarea + .ck ul {
    @apply list-disc;
}

#textarea + .ck ol {
    @apply list-decimal;
}

#textarea + .ck a {
    @apply text-accent underline;
}

#textarea + .ck a:hover {
    @apply text-secondary;
}

#textarea + .ck table {
    @apply border-4 border-accent;
}

#textarea + .ck table tr td {
    @apply border-4 border-accent p-2;
}

#textarea + .ck blockquote {
    @apply text-gray-700 pl-2 border-l-4 border-accent;
}

.article h2 {
    @apply text-3xl;
}

.article h3 {
    @apply text-2xl;
}

.article h4 {
    @apply text-xl;
}

.article ul {
    @apply list-disc;
}

.article ol {
    @apply list-decimal;
}

.article a {
    @apply text-accent underline;
}

.article a:hover {
    @apply text-secondary;
}

.article table {
    @apply border-4 border-accent;
}

.article table tr td {
    @apply border-4 border-accent p-2;
}

.article blockquote {
    @apply text-gray-700 pl-2 border-l-4 border-accent;
}
